In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt
import json
import seaborn as sns
import re

%matplotlib inline

In [5]:
member_df = pd.read_csv('../data/NSS_GreatCare_Members.csv')
member_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61519 entries, 0 to 61518
Data columns (total 63 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Patient ID                                                       61519 non-null  object
 1   Primary Plan ID                                                  61519 non-null  object
 2   Primary Payor ID                                                 61519 non-null  object
 3   Is Patient Alive                                                 61519 non-null  int64
 4   Patient Age Integer                                              61519 non-null  int64
 5   Patient Date of Birth                                            61519 non-null  object
 6   Patient ZIP Code 5-Digit                                         61105 non-null  float64
 7   Count Primary Care Visits in Last 36 Months                      61519 non-null  int64
 8   Count Visits with Attributee Individual Primary Care Provider i  31839 non-null  float64
 9   Count Visits with Attributee Primary Care Provider Group in Las  31896 non-null  float64
 10  Administratively Assigned PCP Provider NPI                       0 non-null      float64
 11  Empirically Attributed PCP Individual Provider NPI               31839 non-null  float64
 12  Empirically Attributed PCP Individual Provider Description       31806 non-null  object
 13  Empirically Attributed PCP Group Provider NPI                    31888 non-null  float64
 14  Empirically Attributed PCP Group Provider Description            31888 non-null  object
 15  Primary Plan Description                                         61519 non-null  object
 16  Primary Payor Description                                        0 non-null      float64
 17  Primary Plan Financial Class Description                         61519 non-null  object
 18  Is Primary Plan Financial Class Commercial                       61519 non-null  int64
 19  Is Primary Plan Financial Class Medicare FFS                     61519 non-null  int64
 20  Is Primary Plan Financial Class Medicare Advantage               61519 non-null  int64
 21  Is Primary Plan Financial Class Medicaid                         61519 non-null  int64
 22  Is Primary Plan Financial Class Other                            61519 non-null  int64
 23  Count Active Plan Memberships                                    61519 non-null  int64
 24  Is Medicaid Eligible                                             61519 non-null  int64
 25  CMS Dual Status Code                                             0 non-null      float64
 26  Is CMS ESRD Status                                               61519 non-null  int64
 27  Is CMS Hospice Status                                            61519 non-null  int64
 28  Count CCW Conditions                                             61519 non-null  int64
 29  Is CCW Acquired Hypothyroidism                                   61519 non-null  int64
 30  Is CCW Acute Myocardial Infarction                               61519 non-null  int64
 31  Is CCW Alzheimers Disease                                        61519 non-null  int64
 32  Is CCW Alzheimers Disease and  Related Disorders or Senile Deme  61519 non-null  int64
 33  Is CCW Anemia                                                    61519 non-null  int64
 34  Is CCW Asthma                                                    61519 non-null  int64
 35  Is CCW Atrial Fibrillation                                       61519 non-null  int64
 36  Is CCW Benign Prostatic  Hyperplasia                             61519 non-null  int64
 37  Is CCW Breast Cancer                                             61519 non-null  int64
 38  Is CCW Cataract                                                  61519 non-null  int64
 39  Is CCW CKD                                                       61519 non-null  int64
 40  Is CCW COPD and Bronchiectasis                                   61519 non-null  int64
 41  Is CCW Colorectal Cancer                                         61519 non-null  int64
 42  Is CCW Depression                                                61519 non-null  int64
 43  Is CCW Diabetes                                                  61519 non-null  int64
 44  Is CCW Endometrial Cancer                                        61519 non-null  int64
 45  Is CCW Glaucoma                                                  61519 non-null  int64
 46  Is CCW Heart Failure                                             61519 non-null  int64
 47  Is CCW Hip or Pelvic Fracture                                    61519 non-null  int64
 48  Is CCW Hyperlipidemia                                            61519 non-null  int64
 49  Is CCW Hypertension                                              61519 non-null  int64
 50  Is CCW Ischemic Heart Disease                                    61519 non-null  int64
 51  Is CCW Lung Cancer                                               61519 non-null  int64
 52  Is CCW Osteoporosis                                              61519 non-null  int64
 53  Is CCW Prostate Cancer                                           61519 non-null  int64
 54  Is CCW Rheumatoid Arthritis or Osteoarthritis                    61519 non-null  int64
 55  Is CCW Stroke or Transient Ischemic Attack                       61519 non-null  int64
 56  Is CCW ASCVD                                                     61519 non-null  int64
 57  Is CCW Anxiety Disorders                                         61519 non-null  int64
 58  Is CCW Depressive Disorders                                      61519 non-null  int64
 59  Is CCW Schizophrenia or Other Psychotic Disorders                61519 non-null  int64
 60  Is CCW Bipolar Disorder                                          61519 non-null  int64
 61  Period Start Date                                                61519 non-null  object
 62  Period End Date                                                  61519 non-null  object
dtypes: float64(8), int64(45), object(10)
memory usage: 29.6+ MB

In [6]:
inpatient_admin = pd.read_csv('../data/NSS_Hospital_Inpatient_Admissions.csv')
inpatient_admin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6213 entries, 0 to 6212
Data columns (total 23 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Encounter ID                                         6213 non-null   object
 1   Patient ID                                           6213 non-null   object
 2   Encounter Primary Payor ID                           6213 non-null   object
 3   Encounter Primary Plan ID                            6213 non-null   object
 4   Facility Provider ID                                 6213 non-null   object
 5   Attending Provider ID                                5884 non-null   object
 6   Attending Provider NPI                               5884 non-null   float64
 7   Facility Provider NPI                                6213 non-null   object
 8   Encounter Start Date                                 6213 non-null   object
 9   Encounter End Date                                   6213 non-null   object
 10  Is Emergency Department Visit Parent Encounter       6213 non-null   int64
 11  Is Observation Stay Parent Encounter                 6213 non-null   int64
 12  CMS Admit Type Code                                  6196 non-null   float64
 13  CMS Admit Source Code                                6027 non-null   object
 14  CMS Patient Discharge Status Code                    6213 non-null   int64
 15  CMS Place of Service Code                            5378 non-null   float64
 16  Principal Discharge Diagnosis ICD-9-CM Code          1620 non-null   object
 17  Principal Discharge Diagnosis ICD-9-CM Description   1601 non-null   object
 18  Principal Discharge Diagnosis ICD-10-CM Code         4577 non-null   object
 19  Principal Discharge Diagnosis ICD-10-CM Description  4522 non-null   object
 20  Primary Plan Allowed Amount                          6213 non-null   int64
 21  Primary Plan Paid Amount                             6213 non-null   float64
 22  Patient Paid Amount                                  6213 non-null   float64
dtypes: float64(5), int64(4), object(14)
memory usage: 1.1+ MB

In [15]:
# Converting some data types, specifically the dates

inpatient_admin[['Encounter Start Date','Encounter End Date']] = inpatient_admin[['Encounter Start Date','Encounter End Date']].apply(pd.to_datetime)
inpatient_admin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6213 entries, 0 to 6212
Data columns (total 23 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Encounter ID                                         6213 non-null   object
 1   Patient ID                                           6213 non-null   object
 2   Encounter Primary Payor ID                           6213 non-null   object
 3   Encounter Primary Plan ID                            6213 non-null   object
 4   Facility Provider ID                                 6213 non-null   object
 5   Attending Provider ID                                5884 non-null   object
 6   Attending Provider NPI                               5884 non-null   float64
 7   Facility Provider NPI                                6213 non-null   object
 8   Encounter Start Date                                 6213 non-null   datetime64[ns]
 9   Encounter End Date                                   6213 non-null   datetime64[ns]
 10  Is Emergency Department Visit Parent Encounter       6213 non-null   int64
 11  Is Observation Stay Parent Encounter                 6213 non-null   int64
 12  CMS Admit Type Code                                  6196 non-null   float64
 13  CMS Admit Source Code                                6027 non-null   object
 14  CMS Patient Discharge Status Code                    6213 non-null   int64
 15  CMS Place of Service Code                            5378 non-null   float64
 16  Principal Discharge Diagnosis ICD-9-CM Code          1620 non-null   object
 17  Principal Discharge Diagnosis ICD-9-CM Description   1601 non-null   object
 18  Principal Discharge Diagnosis ICD-10-CM Code         4577 non-null   object
 19  Principal Discharge Diagnosis ICD-10-CM Description  4522 non-null   object
 20  Primary Plan Allowed Amount                          6213 non-null   int64
 21  Primary Plan Paid Amount                             6213 non-null   float64
 22  Patient Paid Amount                                  6213 non-null   float64
dtypes: datetime64[ns](2), float64(5), int64(4), object(12)
memory usage: 1.1+ MB

In [8]:
pcp_visit = pd.read_csv('../data/NSS_PrimaryCare_Office_Visits.csv',low_memory = False)
pcp_visit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231373 entries, 0 to 231372
Data columns (total 18 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Encounter ID                                   231373 non-null  object
 1   Patient ID                                     231373 non-null  object
 2   Service Provider ID                            230599 non-null  object
 3   Attending Provider ID                          39644 non-null   object
 4   Provider Group Provider ID                     227644 non-null  object
 5   Facility Provider ID                           39756 non-null   object
 6   Encounter Primary Payor ID                     231373 non-null  object
 7   Encounter Primary Plan ID                      231373 non-null  object
 8   Attending Provider NPI                         39644 non-null   float64
 9   Facility Provider NPI                          39756 non-null   float64
 10  Service Provider NPI                           230599 non-null  float64
 11  Provider Group NPI                             227644 non-null  float64
 12  Encounter Date                                 231373 non-null  object
 13  Is Qualifying Preventive Primary Care Service  231373 non-null  int64
 14  Is Qualifying Primary Care Service Provider    231373 non-null  int64
 15  Is Qualifying Primary Care Attending           231373 non-null  int64
 16  Is Qualifying Primary Care Provider Group      231373 non-null  int64
 17  Qualifying Preventive Primary Care HCPCS Code  59143 non-null   object
dtypes: float64(4), int64(4), object(10)
memory usage: 31.8+ MB

In [16]:
pcp_visit['Encounter Date'] = pd.to_datetime(pcp_visit['Encounter Date'])
pcp_visit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231373 entries, 0 to 231372
Data columns (total 18 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Encounter ID                                   231373 non-null  object
 1   Patient ID                                     231373 non-null  object
 2   Service Provider ID                            230599 non-null  object
 3   Attending Provider ID                          39644 non-null   object
 4   Provider Group Provider ID                     227644 non-null  object
 5   Facility Provider ID                           39756 non-null   object
 6   Encounter Primary Payor ID                     231373 non-null  object
 7   Encounter Primary Plan ID                      231373 non-null  object
 8   Attending Provider NPI                         39644 non-null   float64
 9   Facility Provider NPI                          39756 non-null   float64
 10  Service Provider NPI                           230599 non-null  float64
 11  Provider Group NPI                             227644 non-null  float64
 12  Encounter Date                                 231373 non-null  datetime64[ns]
 13  Is Qualifying Preventive Primary Care Service  231373 non-null  int64
 14  Is Qualifying Primary Care Service Provider    231373 non-null  int64
 15  Is Qualifying Primary Care Attending           231373 non-null  int64
 16  Is Qualifying Primary Care Provider Group      231373 non-null  int64
 17  Qualifying Preventive Primary Care HCPCS Code  59143 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(4), object(9)
memory usage: 31.8+ MB

In [25]:
# Going to start on question 2 cause I think that's easier

# Gonna pick the columns I need from 'Inpatient' and 'PCP' and then join them

x = inpatient_admin[['Encounter ID','Patient ID', 'Encounter Start Date', 'Encounter End Date']]
y = pcp_visit[['Encounter ID','Patient ID', 'Encounter Date']]

print(x)
print(y)

                            Encounter ID Patient ID Encounter Start Date  \
0     HIA|DS1|10033|DS1|NPI|1306890389|1  DS1|10033           2013-01-12
1     HIA|DS1|10043|DS1|NPI|1902803315|1  DS1|10043           2014-01-05
2     HIA|DS1|10073|DS1|NPI|1902803315|1  DS1|10073           2012-06-13
3     HIA|DS1|10101|DS1|NPI|1427055839|1  DS1|10101           2012-12-06
4     HIA|DS1|10118|DS1|NPI|1992818256|1  DS1|10118           2015-03-11
...                                  ...        ...                  ...
6208   HIA|DS1|9979|DS1|NPI|1689772592|1   DS1|9979           2015-02-06
6209   HIA|DS1|9981|DS1|NPI|1427055839|1   DS1|9981           2014-08-07
6210   HIA|DS1|9994|DS1|NPI|1689608150|1   DS1|9994           2015-11-21
6211   HIA|DS1|9994|DS1|NPI|1689608150|2   DS1|9994           2015-11-24
6212   HIA|DS1|9996|DS1|NPI|1033298617|1   DS1|9996           2010-03-28

     Encounter End Date
0            2013-01-14
1            2014-01-12
2            2012-06-21
3            2012-12-09
4            2015-03-14
...                 ...
6208         2015-02-11
6209         2014-08-10
6210         2015-11-23
6211         2015-11-27
6212         2010-03-31

[6213 rows x 4 columns]
                                        Encounter ID Patient ID Encounter Date
0       COV|EE|DS1|10076|20110225|DS1|NPI|1487856779  DS1|10076     2011-02-18
1       COV|EE|DS1|10088|20140222|DS1|NPI|1528030996  DS1|10088     2014-02-22
2       COV|EE|DS1|10165|20140907|DS1|NPI|1477579365  DS1|10165     2014-08-31
3       COV|EE|DS1|10240|20130624|DS1|NPI|1821178088  DS1|10240     2013-06-17
4       COV|EE|DS1|10293|20160904|DS1|NPI|1609004191  DS1|10293     2016-09-04
...                                              ...        ...            ...
231368        COV|PCSL|DS1|9999|P|91236|1184722779|1   DS1|9999     2015-02-10
231369        COV|PCSL|DS1|99|P|1263621|1043427248|1     DS1|99     2011-08-02
231370          COV|PCSL|DS1|99|P|22491|1043427248|1     DS1|99     2011-04-13
231371          COV|PCSL|DS1|9|P|341904|1962790014|1      DS1|9     2014-04-07
231372          COV|PCSL|DS1|9|P|363471|1124439807|1      DS1|9     2014-02-17

[231373 rows x 3 columns]

In [26]:
# Merge. There will be duplicates because of the mismatch dates between PCP visits and Inpatient Visits.

inpatient_pcp_df = x.merge(y, how = 'left', on = 'Patient ID')
inpatient_pcp_df

,Encounter ID_x,Patient ID,Encounter Start Date,Encounter End Date,Encounter ID_y,Encounter Date
0,HIA|DS1|10033|DS1|NPI|1306890389|1,DS1|10033,2013-01-12,2013-01-14,COV|PBSL|DS1|10033|P|1228384|1043427248|1|SHIFTED,2015-12-08
1,HIA|DS1|10033|DS1|NPI|1306890389|1,DS1|10033,2013-01-12,2013-01-14,COV|PBSL|DS1|10033|P|1326684|1043427248|1|SHIFTED,2012-06-18
2,HIA|DS1|10033|DS1|NPI|1306890389|1,DS1|10033,2013-01-12,2013-01-14,COV|PBSL|DS1|10033|P|155317|1043427248|1|SHIFTED,2014-06-10
3,HIA|DS1|10033|DS1|NPI|1306890389|1,DS1|10033,2013-01-12,2013-01-14,COV|PBSL|DS1|10033|P|439093|1043427248|1|SHIFTED,2014-09-28
4,HIA|DS1|10033|DS1|NPI|1306890389|1,DS1|10033,2013-01-12,2013-01-14,COV|PBSL|DS1|10033|P|711310|1043427248|1|SHIFTED,2014-03-16
...,...,...,...,...,...,...
44093,HIA|DS1|9994|DS1|NPI|1689608150|2,DS1|9994,2015-11-24,2015-11-27,COV|PCSL|DS1|9994|P|1238517|1407058787|2,2015-12-05
44094,HIA|DS1|9994|DS1|NPI|1689608150|2,DS1|9994,2015-11-24,2015-11-27,COV|PCSL|DS1|9994|P|302749|1407058787|2,2015-12-13
44095,HIA|DS1|9994|DS1|NPI|1689608150|2,DS1|9994,2015-11-24,2015-11-27,COV|PCSL|DS1|9994|P|781849|1205884392|1,2014-05-18
44096,HIA|DS1|9994|DS1|NPI|1689608150|2,DS1|9994,2015-11-24,2015-11-27,COV|PCSL|DS1|9994|P|93182|1043427248|1,2013-07-20
44097,HIA|DS1|9996|DS1|NPI|1033298617|1,DS1|9996,2010-03-28,2010-03-31,NaN,NaT

In [28]:
# Time to find if they visited the pcp after hospital

inpatient_pcp_df['7_Days'] = inpatient_pcp_df['Encounter Date'] - inpatient_pcp_df['Encounter Start Date']
inpatient_pcp_df

,Encounter ID_x,Patient ID,Encounter Start Date,Encounter End Date,Encounter ID_y,Encounter Date,7_Days
0,HIA|DS1|10033|DS1|NPI|1306890389|1,DS1|10033,2013-01-12,2013-01-14,COV|PBSL|DS1|10033|P|1228384|1043427248|1|SHIFTED,2015-12-08,1060 days
1,HIA|DS1|10033|DS1|NPI|1306890389|1,DS1|10033,2013-01-12,2013-01-14,COV|PBSL|DS1|10033|P|1326684|1043427248|1|SHIFTED,2012-06-18,-208 days
2,HIA|DS1|10033|DS1|NPI|1306890389|1,DS1|10033,2013-01-12,2013-01-14,COV|PBSL|DS1|10033|P|155317|1043427248|1|SHIFTED,2014-06-10,514 days
3,HIA|DS1|10033|DS1|NPI|1306890389|1,DS1|10033,2013-01-12,2013-01-14,COV|PBSL|DS1|10033|P|439093|1043427248|1|SHIFTED,2014-09-28,624 days
4,HIA|DS1|10033|DS1|NPI|1306890389|1,DS1|10033,2013-01-12,2013-01-14,COV|PBSL|DS1|10033|P|711310|1043427248|1|SHIFTED,2014-03-16,428 days
...,...,...,...,...,...,...,...
44093,HIA|DS1|9994|DS1|NPI|1689608150|2,DS1|9994,2015-11-24,2015-11-27,COV|PCSL|DS1|9994|P|1238517|1407058787|2,2015-12-05,11 days
44094,HIA|DS1|9994|DS1|NPI|1689608150|2,DS1|9994,2015-11-24,2015-11-27,COV|PCSL|DS1|9994|P|302749|1407058787|2,2015-12-13,19 days
44095,HIA|DS1|9994|DS1|NPI|1689608150|2,DS1|9994,2015-11-24,2015-11-27,COV|PCSL|DS1|9994|P|781849|1205884392|1,2014-05-18,-555 days
44096,HIA|DS1|9994|DS1|NPI|1689608150|2,DS1|9994,2015-11-24,2015-11-27,COV|PCSL|DS1|9994|P|93182|1043427248|1,2013-07-20,-857 days
44097,HIA|DS1|9996|DS1|NPI|1033298617|1,DS1|9996,2010-03-28,2010-03-31,NaN,NaT,NaT

In [35]:
t = []

for i in inpatient_pcp_df['7_Days']:
    if (i <= dt.timedelta(days=7)) and (i > dt.timedelta(days=0)) :
        t.append('yes')
    else:
        t.append('no')

In [36]:
inpatient_pcp_df['within_7'] = t

In [38]:
# There are 1607 instances in which a patient visited their PCP within 7 days of an Inpatient visit. 

inpatient_pcp_df['within_7'].value_counts()

no     42491
yes     1607
Name: within_7, dtype: int64

In [ ]:
# Good stopping point, need to finish Q1 and Q3.