In [57]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import folium
import openpyxl
import seaborn as sns
import re
import datetime as dt
from datetime import timedelta
%matplotlib inline

pd.set_option('display.max_columns', None)

In [2]:
#read in the data

members = pd.read_csv('data/NSS_GreatCare_Members.csv')
hosp_admish = pd.read_csv('data/NSS_Hospital_Inpatient_Admissions.csv')
pc_visits = pd.read_csv('data/NSS_PrimaryCare_Office_Visits.csv', low_memory=False)

In [3]:
pc_visits.head()
pc_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231373 entries, 0 to 231372
Data columns (total 18 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Encounter ID                                   231373 non-null  object
 1   Patient ID                                     231373 non-null  object
 2   Service Provider ID                            230599 non-null  object
 3   Attending Provider ID                          39644 non-null   object
 4   Provider Group Provider ID                     227644 non-null  object
 5   Facility Provider ID                           39756 non-null   object
 6   Encounter Primary Payor ID                     231373 non-null  object
 7   Encounter Primary Plan ID                      231373 non-null  object
 8   Attending Provider NPI                         39644 non-null   float64
 9   Facility Provider NPI                          39756 non-null   float64
 10  Service Provider NPI                           230599 non-null  float64
 11  Provider Group NPI                             227644 non-null  float64
 12  Encounter Date                                 231373 non-null  object
 13  Is Qualifying Preventive Primary Care Service  231373 non-null  int64
 14  Is Qualifying Primary Care Service Provider    231373 non-null  int64
 15  Is Qualifying Primary Care Attending           231373 non-null  int64
 16  Is Qualifying Primary Care Provider Group      231373 non-null  int64
 17  Qualifying Preventive Primary Care HCPCS Code  59143 non-null   object
dtypes: float64(4), int64(4), object(10)
memory usage: 31.8+ MB

In [4]:
hosp_admish.head()
hosp_admish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6213 entries, 0 to 6212
Data columns (total 23 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Encounter ID                                         6213 non-null   object
 1   Patient ID                                           6213 non-null   object
 2   Encounter Primary Payor ID                           6213 non-null   object
 3   Encounter Primary Plan ID                            6213 non-null   object
 4   Facility Provider ID                                 6213 non-null   object
 5   Attending Provider ID                                5884 non-null   object
 6   Attending Provider NPI                               5884 non-null   float64
 7   Facility Provider NPI                                6213 non-null   object
 8   Encounter Start Date                                 6213 non-null   object
 9   Encounter End Date                                   6213 non-null   object
 10  Is Emergency Department Visit Parent Encounter       6213 non-null   int64
 11  Is Observation Stay Parent Encounter                 6213 non-null   int64
 12  CMS Admit Type Code                                  6196 non-null   float64
 13  CMS Admit Source Code                                6027 non-null   object
 14  CMS Patient Discharge Status Code                    6213 non-null   int64
 15  CMS Place of Service Code                            5378 non-null   float64
 16  Principal Discharge Diagnosis ICD-9-CM Code          1620 non-null   object
 17  Principal Discharge Diagnosis ICD-9-CM Description   1601 non-null   object
 18  Principal Discharge Diagnosis ICD-10-CM Code         4577 non-null   object
 19  Principal Discharge Diagnosis ICD-10-CM Description  4522 non-null   object
 20  Primary Plan Allowed Amount                          6213 non-null   int64
 21  Primary Plan Paid Amount                             6213 non-null   float64
 22  Patient Paid Amount                                  6213 non-null   float64
dtypes: float64(5), int64(4), object(14)
memory usage: 1.1+ MB

In [5]:
members.head()
members.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61519 entries, 0 to 61518
Data columns (total 63 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Patient ID                                                       61519 non-null  object
 1   Primary Plan ID                                                  61519 non-null  object
 2   Primary Payor ID                                                 61519 non-null  object
 3   Is Patient Alive                                                 61519 non-null  int64
 4   Patient Age Integer                                              61519 non-null  int64
 5   Patient Date of Birth                                            61519 non-null  object
 6   Patient ZIP Code 5-Digit                                         61105 non-null  float64
 7   Count Primary Care Visits in Last 36 Months                      61519 non-null  int64
 8   Count Visits with Attributee Individual Primary Care Provider i  31839 non-null  float64
 9   Count Visits with Attributee Primary Care Provider Group in Las  31896 non-null  float64
 10  Administratively Assigned PCP Provider NPI                       0 non-null      float64
 11  Empirically Attributed PCP Individual Provider NPI               31839 non-null  float64
 12  Empirically Attributed PCP Individual Provider Description       31806 non-null  object
 13  Empirically Attributed PCP Group Provider NPI                    31888 non-null  float64
 14  Empirically Attributed PCP Group Provider Description            31888 non-null  object
 15  Primary Plan Description                                         61519 non-null  object
 16  Primary Payor Description                                        0 non-null      float64
 17  Primary Plan Financial Class Description                         61519 non-null  object
 18  Is Primary Plan Financial Class Commercial                       61519 non-null  int64
 19  Is Primary Plan Financial Class Medicare FFS                     61519 non-null  int64
 20  Is Primary Plan Financial Class Medicare Advantage               61519 non-null  int64
 21  Is Primary Plan Financial Class Medicaid                         61519 non-null  int64
 22  Is Primary Plan Financial Class Other                            61519 non-null  int64
 23  Count Active Plan Memberships                                    61519 non-null  int64
 24  Is Medicaid Eligible                                             61519 non-null  int64
 25  CMS Dual Status Code                                             0 non-null      float64
 26  Is CMS ESRD Status                                               61519 non-null  int64
 27  Is CMS Hospice Status                                            61519 non-null  int64
 28  Count CCW Conditions                                             61519 non-null  int64
 29  Is CCW Acquired Hypothyroidism                                   61519 non-null  int64
 30  Is CCW Acute Myocardial Infarction                               61519 non-null  int64
 31  Is CCW Alzheimers Disease                                        61519 non-null  int64
 32  Is CCW Alzheimers Disease and  Related Disorders or Senile Deme  61519 non-null  int64
 33  Is CCW Anemia                                                    61519 non-null  int64
 34  Is CCW Asthma                                                    61519 non-null  int64
 35  Is CCW Atrial Fibrillation                                       61519 non-null  int64
 36  Is CCW Benign Prostatic  Hyperplasia                             61519 non-null  int64
 37  Is CCW Breast Cancer                                             61519 non-null  int64
 38  Is CCW Cataract                                                  61519 non-null  int64
 39  Is CCW CKD                                                       61519 non-null  int64
 40  Is CCW COPD and Bronchiectasis                                   61519 non-null  int64
 41  Is CCW Colorectal Cancer                                         61519 non-null  int64
 42  Is CCW Depression                                                61519 non-null  int64
 43  Is CCW Diabetes                                                  61519 non-null  int64
 44  Is CCW Endometrial Cancer                                        61519 non-null  int64
 45  Is CCW Glaucoma                                                  61519 non-null  int64
 46  Is CCW Heart Failure                                             61519 non-null  int64
 47  Is CCW Hip or Pelvic Fracture                                    61519 non-null  int64
 48  Is CCW Hyperlipidemia                                            61519 non-null  int64
 49  Is CCW Hypertension                                              61519 non-null  int64
 50  Is CCW Ischemic Heart Disease                                    61519 non-null  int64
 51  Is CCW Lung Cancer                                               61519 non-null  int64
 52  Is CCW Osteoporosis                                              61519 non-null  int64
 53  Is CCW Prostate Cancer                                           61519 non-null  int64
 54  Is CCW Rheumatoid Arthritis or Osteoarthritis                    61519 non-null  int64
 55  Is CCW Stroke or Transient Ischemic Attack                       61519 non-null  int64
 56  Is CCW ASCVD                                                     61519 non-null  int64
 57  Is CCW Anxiety Disorders                                         61519 non-null  int64
 58  Is CCW Depressive Disorders                                      61519 non-null  int64
 59  Is CCW Schizophrenia or Other Psychotic Disorders                61519 non-null  int64
 60  Is CCW Bipolar Disorder                                          61519 non-null  int64
 61  Period Start Date                                                61519 non-null  object
 62  Period End Date                                                  61519 non-null  object
dtypes: float64(8), int64(45), object(10)
memory usage: 29.6+ MB

### 1. What is our 30-day all cause readmission rate across hospitals our members are admitted to?

In [115]:
#look at start and end date of all hospital visits. drop irrelevant columns, count admissions for denominator (6,213)
hosp_stay = hosp_admish[['Patient ID','Encounter Start Date','Encounter End Date',
                         'Attending Provider NPI','Facility Provider NPI']]

#convert dates from objects to datetimes, convert floats to objects
hosp_stay.loc[:,['Encounter Start Date','Encounter End Date']] = hosp_stay.loc[:,['Encounter Start Date','Encounter End Date']].apply(pd.to_datetime)
hosp_stay = hosp_stay.astype({'Attending Provider NPI':object})

# hosp_stay.head()
hosp_stay.info()
#hosp_stay.count()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6213 entries, 0 to 6212
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Patient ID              6213 non-null   object
 1   Encounter Start Date    6213 non-null   datetime64[ns]
 2   Encounter End Date      6213 non-null   datetime64[ns]
 3   Attending Provider NPI  5884 non-null   object
 4   Facility Provider NPI   6213 non-null   object
dtypes: datetime64[ns](2), object(3)
memory usage: 242.8+ KB

In [116]:
#if using the unique patients admitted as denominator, drop duplicate patients and count rows (4,701 unique patients)
# num_patients = hosp_stay.drop_duplicates('Patient ID')
# num_patients.count()

In [117]:
#group by patient ID and filter out any patients under 2 visits

readmish = hosp_stay.groupby('Patient ID')['Encounter Start Date'].count().reset_index()
readmish = readmish[readmish['Encounter Start Date'] >= 2]
readmish.rename({'Encounter Start Date':'# of admissions'}, axis=1)

     Patient ID  # of admissions
8     DS1|10132                2
17    DS1|10253                3
18    DS1|10291                2
32    DS1|10451               12
37    DS1|10507                2
...         ...              ...
4679   DS1|9809                2
4683   DS1|9864                2
4690   DS1|9935                3
4692   DS1|9943                3
4699   DS1|9994                2

[870 rows x 2 columns]

In [118]:
#filter hospital stay to patients with more than one stay (from readmish table). DEBBIE'S GENIUS CODE TO CREATE NEW COLUMN
#THAT TAKES PATIENT'S NEXT START DATE AND ADDS IT TO SAME LINE AS PREVIOUS VISIT
multistay = hosp_stay[hosp_stay['Patient ID'].isin(readmish['Patient ID'])]
multistay['Next Start Date'] = multistay.sort_values('Encounter Start Date',ascending=True).groupby('Patient ID')['Encounter Start Date'].shift(-1)
multistay

<ipython-input-118-95faf4484be2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multistay['Next Start Date'] = multistay.sort_values('Encounter Start Date',ascending=True).groupby('Patient ID')['Encounter Start Date'].shift(-1)

,Patient ID,Encounter Start Date,Encounter End Date,Attending Provider NPI,Facility Provider NPI,Next Start Date
7,DS1|10132,2013-08-14,2013-08-16,NaN,1366545311,NaT
8,DS1|10132,2013-03-30,2013-04-01,1417995317.0,1386741635,2013-08-14
17,DS1|10253,2011-10-15,2011-11-13,1750346474.0,1215987532,NaT
18,DS1|10253,2010-06-02,2010-06-06,1932127248.0,1396725677,2011-10-15
19,DS1|10253,2010-04-02,2010-04-16,1346566221.0,1689772592,2010-06-02
...,...,...,...,...,...,...
6201,DS1|9943,2013-10-01,2013-10-16,1932297231.0,1184722779,2013-10-25
6202,DS1|9943,2013-10-25,2013-10-28,1942320288.0,1184722779,2014-10-28
6203,DS1|9943,2014-10-28,2014-10-30,1265649966.0,1184722779,NaT
6210,DS1|9994,2015-11-21,2015-11-23,1861831836.0,1689608150,2015-11-24
6211,DS1|9994,2015-11-24,2015-11-27,1750544516.0,1689608150,NaT

In [119]:
#subtract next start date from last end date and create new column for these results
multistay['Days Between'] = multistay['Next Start Date'] - multistay['Encounter End Date']
multistay

<ipython-input-119-2e82419d3d6b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multistay['Days Between'] = multistay['Next Start Date'] - multistay['Encounter End Date']

,Patient ID,Encounter Start Date,Encounter End Date,Attending Provider NPI,Facility Provider NPI,Next Start Date,Days Between
7,DS1|10132,2013-08-14,2013-08-16,NaN,1366545311,NaT,NaT
8,DS1|10132,2013-03-30,2013-04-01,1417995317.0,1386741635,2013-08-14,135 days
17,DS1|10253,2011-10-15,2011-11-13,1750346474.0,1215987532,NaT,NaT
18,DS1|10253,2010-06-02,2010-06-06,1932127248.0,1396725677,2011-10-15,496 days
19,DS1|10253,2010-04-02,2010-04-16,1346566221.0,1689772592,2010-06-02,47 days
...,...,...,...,...,...,...,...
6201,DS1|9943,2013-10-01,2013-10-16,1932297231.0,1184722779,2013-10-25,9 days
6202,DS1|9943,2013-10-25,2013-10-28,1942320288.0,1184722779,2014-10-28,365 days
6203,DS1|9943,2014-10-28,2014-10-30,1265649966.0,1184722779,NaT,NaT
6210,DS1|9994,2015-11-21,2015-11-23,1861831836.0,1689608150,2015-11-24,1 days
6211,DS1|9994,2015-11-24,2015-11-27,1750544516.0,1689608150,NaT,NaT

In [164]:
#create another column to define whether 'Days Between' is less than 30 or not. Used Teng's for loop
pd.set_option('display.max_rows', None)

t = []

for i in multistay['Days Between']:
    if (i <= dt.timedelta(days=30)) and (i >= dt.timedelta(days=0)) :
        t.append('yes')
    else:
        t.append('no')

multistay['Under 30 Days'] = t
multistay

<ipython-input-164-959db48eb75d>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multistay['Under 30 Days'] = t

     Patient ID Encounter Start Date Encounter End Date  \
7     DS1|10132           2013-08-14         2013-08-16
8     DS1|10132           2013-03-30         2013-04-01
17    DS1|10253           2011-10-15         2011-11-13
18    DS1|10253           2010-06-02         2010-06-06
19    DS1|10253           2010-04-02         2010-04-16
20    DS1|10291           2010-05-14         2010-05-15
21    DS1|10291           2011-02-24         2011-03-05
34    DS1|10451           2014-04-24         2014-04-26
35    DS1|10451           2013-03-20         2013-03-23
36    DS1|10451           2014-06-29         2014-06-29
37    DS1|10451           2013-04-16         2013-04-26
38    DS1|10451           2013-05-01         2013-05-09
39    DS1|10451           2013-06-25         2013-07-01
40    DS1|10451           2013-07-26         2013-08-03
41    DS1|10451           2013-08-31         2013-09-02
42    DS1|10451           2013-11-14         2013-11-20
43    DS1|10451           2013-12-17         2013-12-19
44    DS1|10451           2014-05-23         2014-05-29
45    DS1|10451           2013-03-27         2013-04-16
51    DS1|10507           2012-11-10         2012-11-16
52    DS1|10507           2012-11-20         2012-11-27
65    DS1|10698           2012-01-04         2012-01-05
66    DS1|10698           2012-01-03         2012-01-04
67     DS1|1069           2011-12-24         2011-12-30
68     DS1|1069           2013-11-03         2013-11-07
69    DS1|10707           2010-04-19         2010-05-08
70    DS1|10707           2010-07-25         2010-07-27
71    DS1|10707           2010-04-19         2010-05-08
72    DS1|10707           2010-07-25         2010-07-27
73    DS1|10707           2010-08-13         2010-08-16
77    DS1|10734           2009-11-11         2009-11-25
78    DS1|10734           2010-04-25         2010-04-28
79    DS1|10734           2010-05-17         2010-05-21
80    DS1|10734           2010-12-29         2011-01-04
81    DS1|10734           2011-01-04         2011-01-21
83    DS1|10750           2010-08-17         2010-08-19
84    DS1|10750           2010-12-13         2010-12-14
85    DS1|10750           2011-03-19         2011-03-28
86    DS1|10750           2011-07-11         2011-07-14
89    DS1|10795           2011-12-10         2011-12-12
90    DS1|10795           2012-04-01         2012-04-05
91    DS1|10795           2012-08-08         2012-08-15
95    DS1|10830           2011-06-15         2011-06-20
96    DS1|10830           2011-06-14         2011-06-15
99    DS1|10857           2012-03-20         2012-03-23
100   DS1|10857           2013-01-18         2013-02-06
103   DS1|10889           2014-03-28         2014-04-02
104   DS1|10889           2014-05-19         2014-06-17
108   DS1|10905           2010-04-03         2010-04-05
109   DS1|10905           2010-08-22         2010-08-29
124   DS1|11071           2011-01-01         2011-01-06
125   DS1|11071           2012-08-18         2012-08-21
128   DS1|11082           2013-01-09         2013-01-10
129   DS1|11082           2014-01-09         2014-01-19
130   DS1|11082           2014-01-20         2014-01-22
131   DS1|11089           2011-04-05         2011-04-07
132   DS1|11089           2011-06-16         2011-06-18
133   DS1|11089           2011-11-22         2011-11-27
134   DS1|11089           2012-01-04         2012-01-06
135   DS1|11089           2012-02-22         2012-03-02
136   DS1|11089           2012-03-08         2012-03-11
137   DS1|11092           2011-02-26         2011-02-28
138   DS1|11092           2012-12-06         2012-12-07
144   DS1|11189           2014-09-15         2014-09-16
145   DS1|11189           2014-09-26         2014-09-29
154   DS1|11316           2014-12-07         2014-12-10
155   DS1|11316           2015-01-23         2015-01-28
159   DS1|11374           2016-04-02         2016-04-04
160   DS1|11374           2013-04-13         2013-04-16
161   DS1|11379           2013-01-23         2013-01-25
162   DS1|11379           2013-05-01         2013-05-02
163   DS1|11379           2014-03-16         2014-03-19
171   DS1|11432           2011-10-13         2011-10-15
172   DS1|11432           2012-02-04         2012-02-06
173   DS1|11432           2012-04-08         2012-04-11
174   DS1|11433           2012-10-13         2012-10-26
175   DS1|11433           2012-10-28         2012-10-31
176   DS1|11433           2011-06-27         2011-06-30
177   DS1|11433           2011-07-10         2011-07-13
178   DS1|11433           2011-12-22         2011-12-25
183   DS1|11476           2015-11-20         2015-11-28
184   DS1|11476           2016-02-27         2016-03-02
185   DS1|11476           2016-12-24         2016-12-25
191   DS1|11581           2013-09-22         2013-09-25
192   DS1|11581           2013-10-15         2013-10-19
193   DS1|11581           2013-11-12         2013-11-18
194   DS1|11581           2013-12-21         2013-12-24
195   DS1|11581           2014-01-15         2014-01-21
199   DS1|11621           2012-06-10         2012-06-12
200   DS1|11621           2013-03-11         2013-03-18
215   DS1|11785           2014-02-01         2014-04-09
216   DS1|11785           2013-12-23         2013-12-28
217   DS1|11785           2014-02-01         2014-03-14
218   DS1|11785           2014-04-12         2014-05-06
219   DS1|11785           2013-08-27         2013-12-23
220   DS1|11785           2013-12-28         2014-02-01
221   DS1|11785           2014-04-10         2014-04-12
229   DS1|11891           2011-02-25         2011-03-01
230   DS1|11891           2011-03-03         2011-03-05
232   DS1|11912           2012-11-30         2012-12-03
233   DS1|11912           2011-03-24         2011-03-27
237   DS1|11944           2017-09-07         2017-09-16
238   DS1|11944           2017-01-19         2017-01-19
239   DS1|11944           2017-09-16         2017-10-03
252   DS1|12047           2013-05-23         2013-05-25
253   DS1|12047           2014-06-03         2014-06-08
261   DS1|12183           2013-02-06         2013-02-09
262   DS1|12183           2013-10-02         2013-10-07
269   DS1|12255           2014-06-10         2014-06-13
270   DS1|12255           2014-11-02         2014-11-05
277   DS1|12364           2017-08-02         2017-08-04
278   DS1|12364           2017-08-30         2017-09-07
279   DS1|12364           2018-03-13         2018-03-18
280   DS1|12364           2018-04-04         2018-04-11
281   DS1|12364           2018-05-12         2018-05-17
282   DS1|12364           2018-05-02         2018-05-12
287   DS1|12422           2013-07-05         2013-07-25
288   DS1|12422           2014-02-01         2014-02-05
289   DS1|12422           2014-02-15         2014-02-18
290   DS1|12422           2013-08-04         2013-08-10
291   DS1|12422           2013-09-08         2013-09-27
292   DS1|12422           2013-10-07         2013-10-13
293   DS1|12422           2013-10-21         2013-10-29
294   DS1|12422           2013-11-07         2013-11-25
295   DS1|12422           2013-12-05         2013-12-24
296   DS1|12422           2014-01-04         2014-01-08
297   DS1|12422           2014-01-18         2014-01-22
307   DS1|12521           2013-02-25         2013-03-01
308   DS1|12521           2013-02-25         2013-03-03
323   DS1|12651           2011-12-05         2011-12-15
324   DS1|12651           2011-06-08         2011-06-13
325   DS1|12651           2011-07-29         2011-08-05
326   DS1|12651           2012-08-15         2012-08-16
327   DS1|12651           2011-07-17         2011-07-29
328   DS1|12651           2011-11-25         2011-12-01
329   DS1|12651           2011-08-12         2011-08-13
345   DS1|12851           2012-06-17         2012-06-19
346   DS1|12851           2012-11-05         2012-11-11
350    DS1|1290           2014-12-19         2014-12-22
351    DS1|1290           2013-02-02         2013-02-04
357   DS1|12967           2016-01-16         2016-01-24
358   DS1|12967           2016-02-03         2016-02-04
371   DS1|13093           2014-02-07         2014-02-10
372   DS1|13093           2014-05-16         2014-05-23
373   DS1|13093           2014-08-07         2014-08-14
378   DS1|13150           2013-01-12         2013-01-20
379   DS1|13150           2013-02-23         2013-03-02
382   DS1|13183           2014-01-16         2014-01-18
383   DS1|13183           2014-01-20         2014-01-23
388   DS1|13245           2017-01-01         2017-01-03
389   DS1|13245           2017-01-13         2017-01-25
390   DS1|13245           2017-03-24         2017-03-28
402   DS1|13365           2012-04-27         2012-04-28
403   DS1|13365           2012-05-03         2012-05-06
406   DS1|13396           2014-11-25         2014-11-28
407   DS1|13396           2016-06-16         2016-06-20
412   DS1|13438           2012-11-25         2012-11-27
413   DS1|13438           2012-12-04         2012-12-07
419   DS1|13493           2012-03-17         2012-03-19
420   DS1|13493           2012-05-03         2012-05-11
424   DS1|13535           2011-06-18         2011-06-26
425   DS1|13535           2011-06-16         2011-06-18
426   DS1|13535           2011-06-15         2011-06-16
432   DS1|13571           2013-02-27         2013-02-27
433   DS1|13571           2013-02-28         2013-03-03
436   DS1|13593           2012-05-08         2012-05-10
437   DS1|13593           2012-05-22         2012-05-31
438   DS1|13593           2011-12-19         2011-12-22
439   DS1|13593           2012-01-03         2012-01-09
440   DS1|13593           2012-01-26         2012-02-09
441   DS1|13593           2012-02-12         2012-02-14
442   DS1|13593           2012-02-22         2012-03-11
443   DS1|13593           2012-03-18         2012-03-24
444   DS1|13593           2012-04-17         2012-05-06
450    DS1|1364           2011-06-11         2011-06-11
451    DS1|1364           2011-06-11         2011-08-18
463   DS1|13837           2011-01-17         2011-01-19
464   DS1|13837           2011-03-07         2011-03-12
465   DS1|13837           2011-10-08         2011-10-09
486   DS1|14122           2015-03-09         2015-03-11
487   DS1|14122           2015-07-01         2015-07-03
488   DS1|14122           2015-03-03         2015-03-11
492   DS1|14178           2015-04-23         2015-04-26
493   DS1|14178           2015-06-10         2015-06-16
494   DS1|14200           2015-04-06         2015-04-11
495   DS1|14200           2015-04-15         2015-04-17
497   DS1|14209           2013-02-19         2013-02-21
498   DS1|14209           2012-10-19         2012-10-21
506   DS1|14274           2013-04-12         2013-04-19
507   DS1|14274           2013-06-30         2013-07-02
508   DS1|14274           2014-01-04         2014-01-06
509   DS1|14274           2014-01-29         2014-01-30
510   DS1|14274           2014-04-02         2014-04-04
511   DS1|14274           2014-06-19         2014-06-24
512   DS1|14289           2011-03-13         2011-03-15
513   DS1|14289           2012-01-20         2012-01-21
514   DS1|14289           2010-12-29         2010-12-30
515   DS1|14289           2011-03-09         2011-03-10
517   DS1|14298           2014-04-19         2014-04-20
518   DS1|14298           2014-01-22         2014-01-23
519   DS1|14298           2014-03-12         2014-03-15
520   DS1|14298           2014-04-08         2014-04-16
531   DS1|14435           2015-04-06         2015-04-09
532   DS1|14435           2015-11-24         2015-11-28
533   DS1|14435           2016-03-06         2016-03-08
534   DS1|14435           2016-03-11         2016-03-14
535   DS1|14435           2016-05-07         2016-05-20
545   DS1|14575           2013-03-31         2013-05-11
546   DS1|14575           2013-07-27         2013-07-30
547   DS1|14575           2013-07-31         2013-08-01
549   DS1|14607           2015-01-09         2015-01-11
550   DS1|14607           2015-09-05         2015-09-08
551   DS1|14621           2014-08-09         2014-08-25
552   DS1|14621           2015-06-20         2015-06-22
555   DS1|14628           2017-03-14         2017-03-16
556   DS1|14628           2017-03-14         2017-03-16
567   DS1|14789           2010-08-01         2010-08-02
568   DS1|14789           2010-12-30         2011-01-02
575   DS1|14893           2013-11-23         2013-11-30
576   DS1|14893           2014-05-30         2014-06-04
580   DS1|14955           2015-01-24         2015-01-24
581   DS1|14955           2015-04-16         2015-04-19
587   DS1|15058           2013-05-13         2013-05-14
588   DS1|15058           2013-05-15         2013-06-03
589   DS1|15058           2013-06-06         2013-06-13
596   DS1|15131           2015-08-03         2015-08-05
597   DS1|15131           2015-08-03         2015-08-05
600   DS1|15175           2015-04-30         2015-05-01
601   DS1|15175           2015-05-06         2015-05-09
602   DS1|15266           2012-06-16         2012-06-18
603   DS1|15266           2014-09-02         2014-09-05
604   DS1|15268           2016-07-27         2016-08-01
605   DS1|15268           2016-07-25         2016-07-27
615   DS1|15358           2012-09-19         2012-09-24
616   DS1|15358           2012-10-04         2012-10-05
617   DS1|15358           2012-10-17         2012-10-18
625   DS1|15490           2015-07-16         2015-07-17
626   DS1|15490           2015-05-16         2015-05-20
634   DS1|15566           2012-05-19         2012-05-25
635   DS1|15566           2015-04-11         2015-04-16
642   DS1|15637           2014-01-11         2014-01-14
643   DS1|15637           2014-02-13         2014-02-16
644   DS1|15637           2014-04-10         2014-04-14
645   DS1|15637           2014-06-20         2014-06-24
646   DS1|15637           2014-08-15         2014-08-25
647   DS1|15637           2014-09-10         2014-09-18
648   DS1|15637           2014-10-04         2014-10-08
650   DS1|15656           2012-03-06         2012-03-09
651   DS1|15656           2012-04-22         2012-04-28
658   DS1|15698           2015-03-17         2015-03-20
659   DS1|15698           2015-10-25         2015-10-26
663   DS1|15734           2012-11-17         2012-11-17
664   DS1|15734           2012-11-16         2012-11-17
666   DS1|15761           2015-12-02         2015-12-07
667   DS1|15761           2015-06-01         2015-06-03
668   DS1|15761           2015-12-07         2015-12-12
669    DS1|1576           2017-04-18         2017-04-20
670    DS1|1576           2017-05-19         2017-05-22
671   DS1|15773           2013-12-10         2013-12-13
672   DS1|15773           2013-12-06         2013-12-10
673   DS1|15811           2012-10-03         2012-10-06
674   DS1|15811           2011-07-22         2011-08-05
679   DS1|15875           2014-10-21         2014-10-28
680   DS1|15875           2014-11-13         2014-11-15
682   DS1|15887           2014-04-15         2014-04-16
683   DS1|15887           2012-12-25         2012-12-26
688   DS1|15935           2016-02-01         2016-02-07
689   DS1|15935           2016-01-24         2016-02-01
690   DS1|15935           2016-02-07         2016-02-13
691   DS1|15935           2016-04-15         2016-04-17
694    DS1|1593           2012-09-11         2012-09-29
695    DS1|1593           2013-02-20         2013-02-27
700   DS1|16047           2014-04-19         2014-05-02
701   DS1|16047           2014-06-30         2014-07-01
709   DS1|16113           2013-02-04         2013-02-08
710   DS1|16113           2013-02-20         2013-02-23
711   DS1|16149           2013-02-24         2013-03-12
712   DS1|16149           2013-02-17         2013-02-24
713   DS1|16151           2012-03-18         2012-03-25
714   DS1|16151           2012-04-28         2012-04-30
715   DS1|16151           2012-07-08         2012-07-15
716   DS1|16151           2012-10-25         2012-10-27
717   DS1|16151           2013-03-25         2013-03-27
727   DS1|16259           2009-12-29         2009-12-31
728   DS1|16259           2010-07-06         2010-07-08
731   DS1|16302           2014-12-15         2014-12-18
732   DS1|16302           2015-07-24         2015-07-27
733   DS1|16314           2012-10-06         2012-10-16
734   DS1|16314           2012-10-22         2012-10-26
735   DS1|16314           2012-11-01         2012-11-07
736   DS1|16314           2012-11-23         2012-11-28
739   DS1|16321           2013-05-23         2013-05-26
740   DS1|16321           2013-11-02         2013-11-05
745   DS1|16380           2014-05-20         2014-05-24
746   DS1|16380           2014-09-09         2014-09-10
747   DS1|16380           2013-12-12         2013-12-13
748   DS1|16381           2015-01-12         2015-01-27
749   DS1|16381           2014-12-12         2014-12-18
750   DS1|16381           2014-12-12         2014-12-18
754   DS1|16409           2012-07-23         2012-07-24
755   DS1|16409           2012-07-28         2012-08-04
756   DS1|16409           2012-07-12         2012-07-23
757   DS1|16409           2012-07-25         2012-07-28
758   DS1|16409           2012-07-11         2012-07-12
764   DS1|16459           2012-05-30         2012-06-01
765   DS1|16459           2012-05-30         2012-06-01
773   DS1|16610           2014-11-30         2014-12-03
774   DS1|16610           2015-02-18         2015-02-21
791   DS1|16837           2012-08-18         2012-08-20
792   DS1|16837           2012-06-21         2012-06-24
797   DS1|16880           2016-01-29         2016-02-02
798   DS1|16880           2014-03-17         2014-03-19
801   DS1|16914           2014-02-25         2014-03-06
802   DS1|16914           2016-01-26         2016-01-27
804   DS1|16962           2010-05-23         2010-05-27
805   DS1|16962           2010-10-10         2010-10-15
813   DS1|17014           2014-10-03         2014-10-05
814   DS1|17014           2014-10-06         2014-10-07
824   DS1|17171           2013-06-26         2013-06-28
825   DS1|17171           2013-07-14         2013-07-20
826   DS1|17171           2013-08-27         2013-09-01
828   DS1|17179           2013-01-07         2013-01-17
829   DS1|17179           2013-01-25         2013-01-26
843   DS1|17371           2015-09-07         2015-09-12
844   DS1|17371           2015-09-28         2015-10-01
845   DS1|17374           2013-10-11         2013-10-16
846   DS1|17374           2013-10-20         2013-10-21
848   DS1|17388           2015-05-19         2015-05-21
849   DS1|17388           2013-11-19         2013-11-22
854   DS1|17450           2013-04-21         2013-04-24
855   DS1|17450           2014-10-21         2014-10-24
872    DS1|1760           2010-03-09         2010-03-10
873    DS1|1760           2010-04-09         2010-04-11
876    DS1|1764           2012-04-03         2012-04-05
877    DS1|1764           2013-08-04         2013-08-07
884   DS1|17710           2012-10-08         2012-10-12
885   DS1|17710           2013-05-10         2013-05-12
886   DS1|17710           2013-07-15         2013-07-19
887   DS1|17710           2013-08-15         2013-08-16
888   DS1|17710           2013-11-05         2013-11-19
908   DS1|17953           2011-09-13         2011-09-14
909   DS1|17953           2010-07-07         2010-07-12
910   DS1|17953           2011-03-22         2011-03-23
915   DS1|18078           2013-03-31         2013-04-03
916   DS1|18078           2013-04-03         2013-04-05
920   DS1|18108           2012-04-22         2012-04-28
921   DS1|18108           2012-04-30         2012-05-02
922   DS1|18117           2018-08-08         2018-08-11
923   DS1|18117           2018-08-08         2018-08-11
925   DS1|18134           2012-08-21         2012-08-24
926   DS1|18134           2013-06-08         2013-06-11
927   DS1|18141           2011-10-04         2011-10-05
928   DS1|18141           2011-11-13         2011-11-17
930   DS1|18149           2013-03-27         2013-03-31
931   DS1|18149           2012-02-08         2012-02-14
937   DS1|18262           2016-02-01         2016-02-19

In [165]:
#Why doesn't this work?
# thirty_dict = {dt.timedelta(days<=30):'yes',dt.timedelta(days>30):'no'}

# multistay['Under 30 Days'] = multistay['Days Between'].map(thirty_dict)
# multistay

In [166]:
#count yes, use as numerator to calculate rate of <30 Day Readmission
multistay['Under 30 Days'].value_counts()

no     1686
yes     696
Name: Under 30 Days, dtype: int64

In [168]:
rate_under_30days = round((696/6213)*100,2)
rate_under_30days

11.2

### 2. What percent of patients have a PCP visit within a week of discharge?

In [135]:
pc_visits.head()

,Encounter ID,Patient ID,Service Provider ID,Attending Provider ID,Provider Group Provider ID,Facility Provider ID,Encounter Primary Payor ID,Encounter Primary Plan ID,Attending Provider NPI,Facility Provider NPI,Service Provider NPI,Provider Group NPI,Encounter Date,Is Qualifying Preventive Primary Care Service,Is Qualifying Primary Care Service Provider,Is Qualifying Primary Care Attending,Is Qualifying Primary Care Provider Group,Qualifying Preventive Primary Care HCPCS Code
0,COV|EE|DS1|10076|20110225|DS1|NPI|1487856779,DS1|10076,DS1|NPI|1487856779,NaN,DS1|NPI|1043427248,NaN,DS1|1,DS1|5047W,NaN,NaN,1.487857e+09,1.043427e+09,2011-02-18,0,1,0,0,NaN
1,COV|EE|DS1|10088|20140222|DS1|NPI|1528030996,DS1|10088,DS1|NPI|1528030996,DS1|NPI|1528030996,DS1|NPI|1043427248,DS1|NPI|1902803315,DS1|1,DS1|5047W,1.528031e+09,1.902803e+09,1.528031e+09,1.043427e+09,2014-02-22,0,1,1,1,NaN
2,COV|EE|DS1|10165|20140907|DS1|NPI|1477579365,DS1|10165,DS1|NPI|1477579365,NaN,DS1|NPI|1043427248,NaN,DS1|1,DS1|5047W,NaN,NaN,1.477579e+09,1.043427e+09,2014-08-31,0,1,0,0,NaN
3,COV|EE|DS1|10240|20130624|DS1|NPI|1821178088,DS1|10240,DS1|NPI|1821178088,DS1|NPI|1821178088,DS1|NPI|1407058787,DS1|NPI|1104842020,DS1|1,DS1|5047W,1.821178e+09,1.104842e+09,1.821178e+09,1.407059e+09,2013-06-17,0,1,1,1,NaN
4,COV|EE|DS1|10293|20160904|DS1|NPI|1609004191,DS1|10293,DS1|NPI|1609004191,NaN,DS1|NPI|1184722779,NaN,DS1|1,DS1|5047X,NaN,NaN,1.609004e+09,1.184723e+09,2016-09-04,0,1,0,0,NaN

In [144]:
#limit columns, convert relevant ones to objects and Encounter Date to datetime
pcp_trips = pc_visits[['Patient ID', 'Attending Provider NPI', 'Facility Provider NPI', 'Provider Group NPI', 'Encounter Date']]
pcp_trips = pcp_trips.astype(object)
pcp_trips['Encounter Date'] = pd.to_datetime(pcp_trips['Encounter Date'])
pcp_trips = pcp_trips.rename({'Encounter Date':'PCP Date'}, axis=1)
pcp_trips

,Patient ID,Attending Provider NPI,Facility Provider NPI,Provider Group NPI,PCP Date
0,DS1|10076,NaN,NaN,1043427248.0,2011-02-18
1,DS1|10088,1528030996.0,1902803315.0,1043427248.0,2014-02-22
2,DS1|10165,NaN,NaN,1043427248.0,2014-08-31
3,DS1|10240,1821178088.0,1104842020.0,1407058787.0,2013-06-17
4,DS1|10293,NaN,NaN,1184722779.0,2016-09-04
...,...,...,...,...,...
231368,DS1|9999,NaN,NaN,1184722779.0,2015-02-10
231369,DS1|99,NaN,NaN,1043427248.0,2011-08-02
231370,DS1|99,NaN,NaN,1043427248.0,2011-04-13
231371,DS1|9,NaN,NaN,1962790014.0,2014-04-07
231372,DS1|9,NaN,NaN,1124439807.0,2014-02-17

In [155]:
#merge hospital stays and pcp visits on patient ID; there are many duplicates (for each dr visit)
hosp_and_pcp_dates = hosp_stay.merge(pcp_trips, on='Patient ID')
#hosp_and_pcp_dates = hosp_and_pcp_dates.drop_duplicates(subset=['Encounter Start Date','Encounter End Date'])
hosp_and_pcp_dates = hosp_and_pcp_dates.drop(columns=['Attending Provider NPI_y','Facility Provider NPI_y'])
hosp_and_pcp_dates

,Patient ID,Encounter Start Date,Encounter End Date,Attending Provider NPI_x,Facility Provider NPI_x,Provider Group NPI,PCP Date
0,DS1|10033,2013-01-12,2013-01-14,1417170523.0,1306890389,1043427248.0,2015-12-08
1,DS1|10033,2013-01-12,2013-01-14,1417170523.0,1306890389,1043427248.0,2012-06-18
2,DS1|10033,2013-01-12,2013-01-14,1417170523.0,1306890389,1043427248.0,2014-06-10
3,DS1|10033,2013-01-12,2013-01-14,1417170523.0,1306890389,1043427248.0,2014-09-28
4,DS1|10033,2013-01-12,2013-01-14,1417170523.0,1306890389,1043427248.0,2014-03-16
...,...,...,...,...,...,...,...
43786,DS1|9994,2015-11-24,2015-11-27,1750544516.0,1689608150,1407058787.0,2015-06-22
43787,DS1|9994,2015-11-24,2015-11-27,1750544516.0,1689608150,1407058787.0,2015-12-05
43788,DS1|9994,2015-11-24,2015-11-27,1750544516.0,1689608150,1407058787.0,2015-12-13
43789,DS1|9994,2015-11-24,2015-11-27,1750544516.0,1689608150,1205884392.0,2014-05-18
43790,DS1|9994,2015-11-24,2015-11-27,1750544516.0,1689608150,1043427248.0,2013-07-20

In [159]:
hosp_and_pcp_dates['Days Between'] = hosp_and_pcp_dates['PCP Date'] - hosp_and_pcp_dates['Encounter End Date']
#hosp_and_pcp_dates

#create another column to define whether 'Days Between' is less than 30 or not. Used Teng's for loop
x = []

for i in hosp_and_pcp_dates['Days Between']:
    if (i <= dt.timedelta(days=7)) and (i > dt.timedelta(days=0)) :
        x.append('yes')
    else:
        x.append('no')

hosp_and_pcp_dates['Under 7 Days'] = x
hosp_and_pcp_dates.head(30)

,Patient ID,Encounter Start Date,Encounter End Date,Attending Provider NPI_x,Facility Provider NPI_x,Provider Group NPI,PCP Date,Days Between,Under 7 Days
0,DS1|10033,2013-01-12,2013-01-14,1417170523.0,1306890389,1043427248.0,2015-12-08,1058 days,no
1,DS1|10033,2013-01-12,2013-01-14,1417170523.0,1306890389,1043427248.0,2012-06-18,-210 days,no
2,DS1|10033,2013-01-12,2013-01-14,1417170523.0,1306890389,1043427248.0,2014-06-10,512 days,no
3,DS1|10033,2013-01-12,2013-01-14,1417170523.0,1306890389,1043427248.0,2014-09-28,622 days,no
4,DS1|10033,2013-01-12,2013-01-14,1417170523.0,1306890389,1043427248.0,2014-03-16,426 days,no
5,DS1|10033,2013-01-12,2013-01-14,1417170523.0,1306890389,1043427248.0,2014-12-09,694 days,no
6,DS1|10033,2013-01-12,2013-01-14,1417170523.0,1306890389,1043427248.0,2015-11-08,1028 days,no
7,DS1|10033,2013-01-12,2013-01-14,1417170523.0,1306890389,1043427248.0,2012-05-18,-241 days,no
8,DS1|10033,2013-01-12,2013-01-14,1417170523.0,1306890389,1043427248.0,2014-05-10,481 days,no
9,DS1|10033,2013-01-12,2013-01-14,1417170523.0,1306890389,1043427248.0,2014-08-28,591 days,no
10,DS1|10033,2013-01-12,2013-01-14,1417170523.0,1306890389,1043427248.0,2014-02-16,398 days,no
11,DS1|10033,2013-01-12,2013-01-14,1417170523.0,1306890389,1043427248.0,2014-11-09,664 days,no
12,DS1|10043,2014-01-05,2014-01-12,1669599197.0,1902803315,1043427248.0,2013-12-27,-16 days,no
13,DS1|10043,2014-01-05,2014-01-12,1669599197.0,1902803315,1043427248.0,2014-01-27,15 days,no
14,DS1|10043,2014-01-05,2014-01-12,1669599197.0,1902803315,1043427248.0,2015-11-21,678 days,no
15,DS1|10043,2014-01-05,2014-01-12,1669599197.0,1902803315,1043427248.0,2015-12-25,712 days,no
16,DS1|10043,2014-01-05,2014-01-12,1669599197.0,1902803315,1043427248.0,2014-09-18,249 days,no
17,DS1|10043,2014-01-05,2014-01-12,1669599197.0,1902803315,1043427248.0,2014-01-12,0 days,no
18,DS1|10043,2014-01-05,2014-01-12,1669599197.0,1902803315,1043427248.0,2014-01-30,18 days,no
19,DS1|10043,2014-01-05,2014-01-12,1669599197.0,1902803315,1043427248.0,2015-10-21,647 days,no
20,DS1|10043,2014-01-05,2014-01-12,1669599197.0,1902803315,1043427248.0,2015-11-25,682 days,no
21,DS1|10043,2014-01-05,2014-01-12,1669599197.0,1902803315,1043427248.0,2014-08-18,218 days,no
22,DS1|10043,2014-01-05,2014-01-12,1669599197.0,1902803315,1043427248.0,2013-12-12,-31 days,no
23,DS1|10043,2014-01-05,2014-01-12,1669599197.0,1902803315,1043427248.0,2013-12-30,-13 days,no
24,DS1|10073,2012-06-13,2012-06-21,1407880511.0,1902803315,1043427248.0,2012-04-15,-67 days,no
25,DS1|10073,2012-06-13,2012-06-21,1407880511.0,1902803315,1043427248.0,2012-07-13,22 days,no
26,DS1|10073,2012-06-13,2012-06-21,1407880511.0,1902803315,1043427248.0,2011-02-07,-500 days,no
27,DS1|10073,2012-06-13,2012-06-21,1407880511.0,1902803315,1043427248.0,2011-06-22,-365 days,no
28,DS1|10073,2012-06-13,2012-06-21,1407880511.0,1902803315,1043427248.0,2012-06-27,6 days,yes
29,DS1|10073,2012-06-13,2012-06-21,1407880511.0,1902803315,1043427248.0,2012-08-01,41 days,no

In [158]:
hosp_and_pcp_dates['Under 7 Days'].value_counts()

no     41429
yes     2362
Name: Under 7 Days, dtype: int64

In [161]:
pcp_trips.value_counts('Patient ID')

Patient ID
DS1|44027    94
DS1|13892    81
DS1|51224    59
DS1|32475    57
DS1|29329    56
             ..
DS1|52872     1
DS1|26674     1
DS1|52875     1
DS1|52881     1
DS1|37672     1
Length: 50734, dtype: int64

### 3. Do either vary by individual or group PCP's?

### Bonus:
### 4. Which individual or PCP groups should we make an extra effort with to build a relationship? Which have the highest volume

### 5. What percent of our patients do not have a PCP assigned or haven't seen their PCP recently?

### 6. Are there certain patients we should focus on (e.g. frequent fliers)?

### 7. From this, what could a version 1 of an actionable dashboard or intervention list look like to support the Transition Care Managers?